{{dump(content)}}



<button id="reload" >reload</button>
<button class="booking-logedIn" id="logIn" >Log in</button>
<span class="booking-logOut booking-logedOut">{{'Log out'| trans}}</span>

{#<div class="booking-calendar">
  <div id="calendarContainer"></div>
  <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>#}
<div class="wrapper">
  <div id="calendarContainer"></div>
  <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>

<!-- The Modal -->
<div id="book-popup-windo" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <span class="booking-logOut">{{'Log out'| trans}}</span>
    <p class="booking-popup-text">{{'You have to log in or sin up'| trans}}</p>
    <p class="booking-signUp-warning warning">*{{'This email is exist, if you forgot your password click '| trans}}<a href="">{{'Resend password to this email'| trans}}</a></p>
    <p class="booking-logIn-warning warning">*{{'This email is not exist, please sign up '| trans}}</p>
    <div class="booking-login booking-logedIn">
      <form id="booking-logIn">
        <input type="text" id="booking-logIn-email" name="email" class="booking-email" placeholder="{{'Email'| trans}}" size="30" required>
        <input type="text" name="password" placeholder="{{'Password'| trans}}" size="30" required>
        <input id="booking-logIn-submit" type="submit" class="" value="{{'Log in'| trans}}">
      </form>
    </div>
    <div class="booking-signUp booking-logedIn">
      <form id="booking-signUp">
        <input type="text" name="name" placeholder="{{'Name'| trans}}" size="30" required>
        <input type="text" name="phone" placeholder="{{'Phone'| trans}}" size="30" required>
        <input type="text" id="booking-signUp-email" class="booking-email" name="email" placeholder="{{'Email'| trans}}" size="30" required>
        <input type="text" name="password" placeholder="{{'Password'| trans}}" size="30" required>
        <input id="booking-signUp-submit" type="submit" class="" value="{{'Sign up'| trans}}">
      </form>
    </div>
    <div class="book-form">
      <form id="book-form">
        <input id="book-confirm" type="submit" class="confirm" value="{{'Confirm'| trans}}">
      </form>
      <button id="" name="book-cancel" class="book-cancel" >{{'Cancel'| trans}}</button>
    </div>
    <div class="booking-windo-close">
      <button id="" name="book-cancel" class="booking-close" >{{'close'| trans}}</button>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="cancel-popup-windo" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <p>Some text in the Modal..</p>
    <form id="cancel-form">
      <input id="cancel-confirm" name="" type="submit" class="confirm" value="{{'Confirm'| trans}}">
    </form>
    <button id="cancel-cancel" name="book-cancel" class="" >{{'Cancel'| trans}}</button>
  </div>
</div>

