{{content.last}}
{{content.service.title}}
{{content.addServerForm}}
{% for server in content.servers %}
  <a href="/booking/server/{{server.id}}">{{server.name}}</a>  <br>
{% endfor %}

{{content.addWorkDaysForm}}
