<div class="booking-server">


  {{content.server.name}}<br>


  <dir ng-app='bookingServer'>
    <div id="bookingServerCtrl" ng-controller="bookingServerCtrl">


      <input type="radio" value="0" ng-model="date.status"> {{'Booked'|trans}}
      <input type="radio" value="1" ng-model="date.status"> {{'Unbooked'|trans}}
      <button ng-click="clear()">{{'Clear'|trans}}</button><br>




      <table id="searchTextResults">
        <tr>
          <th><button ng-click="previous()">{{'Previous'|trans}}</button></th>
          <th><input type="text" id="popupDatepicker" ng-model="select"><button ng-click="toDay()">{{'Today'|trans}}</button></th>
          <th><button ng-click="next()">{{'Next'|trans}}</button></th>
        </tr>
        <tr>
          <th>{{'Period'|trans}}</th>
          <th>{{'Status'|trans}}</th>
          <th>{{'Name'|trans}}</th>
        </tr>
        <tr ng-repeat="item in content.slots | filter:date | orderBy: 'startTimeStamp'" >
          <td class="hidden">{[{item.startTimeStamp}]}</td>
          <td ><span class="{[{style(item.status)}]}">{[{item.startTime}]} - {[{item.endTime}]}</span><span class="edit-time-span" ng-click="editSlot(item.id, item.startTime, item.endTime)">{{'Edit'|trans}}</span></td>
          <td>{[{item.status}]}</td>
          <td><a href="/booking/client/{[{item.book.client.id}]}">{[{item.book.client.name}]}</a></td>
          <td></td>
        </tr>
        <tr>
          <td class="add-slot">
            <form>
              <input maxlength="5" type="text"ng-model="slotStartTime" required>-
              <input maxlength="5" type="text" ng-model="slotEndTime" required>
            </form>
            <span class="edit-time-span" ng-click="addSlot(slotStartTime, slotEndTime)">{{'Add'|trans}}</span>
          </td>
        </tr>
      </table>
      <hr>



      <!-- The Modal -->
      <div id="server-edit-slot" class="modal" >
        <!-- Modal content -->
        <div class="modal-content  edit-time">
          <form id="edit-form" class="edit-form">
            <input class="time" type="hidden" ng-model="slotId">
            <input class="time" type="text" ng-model="startTime"> -
            <input class="time" type="text" ng-model="endTime">
            <input id="" name="" type="submit" class="save-btn right" value="{{'Save'| trans}}" ng-click="saveSlot(slotId,startTime,endTime)">
            <br>
            <span class="cancel-text">{{'Cancel book'|trans}}</span>
            <input id="" name="" type="submit" ng-click="cancelBook(slotId)" class="cancel-book-btn toHide right" value="{{'Confirm cancel'| trans}}" ng-click="cancelBook(slotId)">
            <br>
            <span class="delete-text">{{'Delete slot'|trans}}</span>
            <input id="" name="" type="submit" ng-click="deleteSlot(slotId)" class="delete-btn toHide right" value="{{'Confirm delete'| trans}}">

          </form>
          <button name="book-cancel" class="edit-cancel left" >{{'Cancel'| trans}}</button>
        </div>
      </div>


    </div> {# end of cntr #}
  </dir>
  {{content.addServerDayForm}}
</div>


